body{
    background:#f3f5f7;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans', sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #264a67;
}
a:hover,
a:focus {
    text-decoration: underline;
}
blockquote {
    border-left: 5px solid #aaa;
    padding: 5px 15px;
    margin: 20px 0;
    background: rgba(0,0,0,0.05);
}
pre{
    background: #264a67;
    color: #fff;
    padding: 1.5em;
    font-size: 0.9em;
    line-height: 130%;
}
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}
#layout {
    padding: 0;
}
.header {
    text-align: center;
    padding: 3em 0;
    background: rgb(61, 79, 93);
    color: #264a67;
}
.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-title a{
    color: #fff;
}
.brand-tagline {
    font-weight: 300;
    color: #b7c3d0;
}
.page-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.page-link {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.page-link a {
    background: transparent;
    border: 2px solid #b7c3d0;
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.page-link a:hover,
.page-link a:focus {
    border: 2px solid #519bea;
    text-decoration: none;
}
.content {
    padding: 2em 1em 0;
}
.post {
    padding-bottom: 2em;
    font-family: 'Gentium Book Basic', serif;
}
.post img {
    max-width: 100%;
    height: auto;
    display: block;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}
.pagination {
    text-align: center;
}
.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}
